<!DOCTYPE html>
<html lang="en">
<head>
    <title>Service Fabric Multi Deployment Demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="env:url:api" content="@Model.ApiBaseUrl"/>
    <meta name="env:url:agent" content="@Model.AgentBaseUrl"/>

    <link rel="stylesheet" href="/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/jquery-ui.css"/>    
</head>
<body>

    <header class="header">
        <app-header></app-header>
    </header>

    <content class="content">
        <app-content></app-content>
    </content>

    <content class="content">
        <app-result></app-result>
    </content>
    

    <footer class="footer">
        <app-footer></app-footer>
    </footer>

    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/jquery-ui.min.js"></script>
    <script src="/lib/riot.js"></script>
    <script type="text/javascript" src="/dist/bundle.js" charset="utf-8"></script>
</body>
</html>
